global_defs {
    enable_script_security
    script_user keepalived_script
}

vrrp_script check_haproxy {
    script "/home/keepalived_script/keepalived_script"
    weight 20
    interval 1
}

vrrp_instance agama {
    interface ens3
    virtual_router_id 1
    {% if inventory_hostname == 'yyjjjjy666-1' %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1
    virtual_ipaddress {
            192.168.100.{{ hostvars['yyjjjjy666-1']['ansible_default_ipv4']['address'].split('.')[-1] }}/24
        }

    unicast_peer {
        {% for vm  in groups['keepalived'] %}
        {% if inventory_hostname != vm %}
        {{hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }


    track_script {
        check_haproxy
    }
}
