server {
    listen 80 default_server;
    server_name _;

    {% if inventory_hostname in groups['web_servers'] %}
    location / {
        uwsgi_pass localhost:5000;
        include uwsgi_params;
    }
    {% endif %}
    
    {% if inventory_hostname in groups['all'] %}
    location /node-metrics {
        proxy_pass http://localhost:9100/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['db_servers'] %}
    location /mysql-metrics {
        proxy_pass http://localhost:9104/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['all'] %}
    location /nginx-metrics {
        proxy_pass http://localhost:9113/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['dns_servers'] %}
    location /bind-metrics {
        proxy_pass http://localhost:9119/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['prometheus_server'] %}
        location /prometheus {
            proxy_pass http://localhost:9090;
    }
    {% endif %}

    {% if inventory_hostname in groups['grafana'] %}
        location /grafana {
            proxy_pass http://localhost:3000;
    }
    {% endif %}

    {% if inventory_hostname in groups['influxdb'] %}
        location /influxdb-metrics {
            proxy_pass http://localhost:9424/metrics;
    }
    {% endif %}
}