server {
    listen 80 default_server;
    large_client_header_buffers 4 16k;
    server_name _;

    {% if inventory_hostname in groups['web_servers'] %}
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:{{ agama_port }};
    }
    {% endif %}
    
    {% if inventory_hostname in groups['all'] %}
    location /node-metrics {
        proxy_pass http://localhost:9100/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['db_servers'] %}
    location /mysql-metrics {
        proxy_pass http://localhost:9104/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['all'] %}
    location /nginx-metrics {
        proxy_pass http://localhost:9113/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['dns_servers'] %}
    location /bind-metrics {
        proxy_pass http://localhost:9119/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['prometheus_server'] %}
        location /prometheus {
            proxy_pass http://localhost:9090;
    }
    {% endif %}

    {% if inventory_hostname in groups['grafana'] %}
        location /grafana {
            proxy_pass http://localhost:{{ grafana_port }};
    }
    {% endif %}

    {% if inventory_hostname in groups['influxdb'] %}
        location /influxdb-metrics {
            proxy_pass http://localhost:9424/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['haproxy'] %}
        location /haproxy-metrics {
            proxy_pass http://localhost:9101/metrics;
    }
    {% endif %}

    {% if inventory_hostname in groups['keepalived'] %}
        location /keepalived-metrics {
            proxy_pass http://localhost:9165/metrics;
    }
    {% endif %}
}
