apiVersion: 1

datasources:
  - name: InfluxDB_v1
    type: influxdb
    access: proxy
    database: latency
    user:
    url: http://{{ vm3 }}:8086
    jsonData:
      httpMode: GET
    secureJsonData:
      password:
