apiVersion: 1

datasources:
  - name: InfluxDB:telegraf
    type: influxdb
    access: proxy
    database: telegraf
    user:
    url: http://{{ vm3 }}:8086
    jsonData:
      httpMode: GET
    secureJsonData:
      password:
