[Unit]
Description=InfluxDB stats
Documentation=https://github.com/carlpett/influxdb_stats_exporter
After=network.target influxdb.service

[Service]
User=prometheus
EnvironmentFile=-/etc/default/prometheus-influxdb-stats-exporter
ExecStart=/usr/local/bin/influx_stats_exporter_linux_amd64 $ARGS

[Install]
WantedBy=multi-user.target
