acl lan { 
    {{ local_network }}; {{ localhost }}; {{ docker_network }};
};
options {
    directory "/var/cache/bind";
    forwarders {
    {% for dns in dns_forwarders %}
    {{ dns }};
    {% endfor %}};
    allow-query { 
        lan; 
    };
    dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "dns_transfer_key" {
        algorithm hmac-sha256;
        secret "{{ transfer_key_secret }}";
};

key "dns_update_key" {
        algorithm hmac-sha256;
        secret "{{ update_key_secret }}";
};
