acl lan { 
    {{ local_network }}; {{ localhost }}; {{ docker_network }};
};
options {
    directory "/var/cache/bind";
    forwarders {
    {% for dns in dns_forwarders %}
    {{ dns }};
    {% endfor %}};
    allow-query { 
        lan; 
    };
    dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
