global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    metric_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']

  - job_name: linux
    static_configs:
      - targets: 
        - '{{ vm1 }}.{{ domain_name }}:9100'
        - '{{ vm2 }}.{{ domain_name }}:9100'